In [9]:
import pandas as pd
from pandas import Series, DataFrame

# ; で区切られている場合の例
student_data_por = pd.read_csv('student-por.csv', sep=';')
student_data_por

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1       GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2       GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3       GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4       GP   F   16       U     GT3       T  ...     2       5        0  11  13  13
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
644     MS   F   19       R     GT3       T  ...     2       5        4  10  11  10
645     MS   F   18       U     LE3       T  ...     1       1        4  15  15  16
646     MS   F   18       U     GT3       T  ...     1       5        6  11  12   9
647     MS   M   17       U     LE3       T  ...     4       2        6  10  10  10
648     MS   M   18       R     LE3       T  ...     4       5        4  10  11  11

[649 rows x 33 columns]

In [10]:
# | で区切られた 「test.csv」を読み込んでみましょう
test = pd.read_csv('test.csv', sep='|')
test

  Mr.Bennet        was      among        the   earliest        of      those
0       who     waited         on        Mr.   Bingley.        He        had
1    always   intended         to      visit        him    though         to
2       the       last     always   assuring        his      wife       that
3        he     should        not        go;        and      till        the
4   evening      after        the      visit        was      paid        she
5       had         no  knowledge         of        it.        It        was
6      then  disclosed         in        the  following   manner.  Observing
7       his     second   daughter   employed         in  trimming          a
8       hat         he   suddenly  addressed        her      with          .

In [11]:
# ヘッダーがないデータは header = None として読み込む必要がある
# ヘッダーを自分で命名する場合は, names=['ヘッダ名1', 'ヘッダ名2'...] とする
# ヘッダ名を命名しない場合は、自動で列番号が付加される
test = pd.read_csv('test.csv', sep='|', header = None)
test

           0          1          2          3          4         5          6
0  Mr.Bennet        was      among        the   earliest        of      those
1        who     waited         on        Mr.   Bingley.        He        had
2     always   intended         to      visit        him    though         to
3        the       last     always   assuring        his      wife       that
4         he     should        not        go;        and      till        the
5    evening      after        the      visit        was      paid        she
6        had         no  knowledge         of        it.        It        was
7       then  disclosed         in        the  following   manner.  Observing
8        his     second   daughter   employed         in  trimming          a
9        hat         he   suddenly  addressed        her      with          .

In [4]:
# データに日本語が含まれている場合はエンコードの指定が必要
test2 = pd.read_csv('japanese-char.csv', encoding='shift-jis')
test2

     氏名  年齢       出身地
0   たろう  18        青森
1  John  48    London
2    花子  30        大阪
3  Beth  10  New York

In [5]:
# UTF-8の場合はエンコードを指定しなくてもOK
test2 = pd.read_csv('japanese-char-2.csv')
test2

     氏名  年齢       出身地
0   たろう  18        青森
1  John  48    London
2    花子  30        大阪
3  Beth  10  New York