以下の「attri_data_frame1」のデータをもとに、コメントのとおりのデータを取得してください。  
ヒント：テキストP149など

In [4]:
import pandas as pd

attri_data1 = {'ID':['1','2','3','4','5'],
               'Sex':['F','F','M','M','F'],
               'Money':[1000,2000,500,300,700],
               'Name':['Saito','Horie','Kondo','Kawada','Matsubara']}

attri_data_frame1 = DataFrame(attri_data1)
attri_data_frame1

  ID Sex  Money       Name
0  1   F   1000      Saito
1  2   F   2000      Horie
2  3   M    500      Kondo
3  4   M    300     Kawada
4  5   F    700  Matsubara

In [7]:
# Money　が500以上の人を絞り込んで、該当の行を表示してください。
attri_data_frame1[attri_data_frame1['Money']>=500]

  ID Sex  Money       Name
0  1   F   1000      Saito
1  2   F   2000      Horie
2  3   M    500      Kondo
4  5   F    700  Matsubara

In [10]:
# ID 列が 1 の人の該当行を表示してください。
attri_data_frame1[attri_data_frame1['ID']=='1']

  ID Sex  Money   Name
0  1   F   1000  Saito

In [19]:
attri_data2 = {'ID':['3','4','7'],
               'Math':[60,30,40],
               'English':[80,20,30]}

attri_data_frame2 = DataFrame(attri_data2)
attri_data_frame2

  ID  Math  English
0  3    60       80
1  4    30       20
2  7    40       30

attri_data_frame1 と attri_data_frame2 を内部結合させて表示してください。  結合キーは ID としてください。

In [17]:
merge_data = pd.merge(attri_data_frame1, attri_data_frame2, on='ID')
merge_data

  ID Sex  Money    Name  Math  English
0  3   M    500   Kondo    60       80
1  4   M    300  Kawada    30       20